{% trans_default_domain 'FOSUserBundle' %}

<div class="mdl-cell mdl-cell--12-col ">
    <h2>Modifier mon profil</h2>
</div>

<div class="my-card-wide mdl-card mdl-shadow--6dp">

    <form action="{{ path('fos_user_profile_edit') }}" method="post">
        <fieldset>
            <div class="mdl-card__supporting-text">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form_widget(form.username, {'attr': {'class': 'mdl-textfield__input'}}) }}
                    <div class="form_errors">
                        {{ form_errors(form.username, {'attr': {'class': 'menu-dark'}}) }}
                    </div>
                    {{ form_label(form.username, "",  {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form_widget(form.email, {'attr': {'class': 'mdl-textfield__input'}}) }}
                    <div class="form_errors">
                        {{ form_errors(form.email, {'attr': {'class': 'menu-dark'}}) }}
                    </div>
                    {{ form_label(form.email, "", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form_widget(form.current_password, {'attr': {'class': 'mdl-textfield__input'}}) }}
                    <div class="form_errors">
                        {{ form_errors(form.current_password, {'attr': {'class': 'menu-dark'}}) }}
                    </div>
                    {{ form_label(form.current_password, "", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                </div>
                <br>

                {{ form_rest(form) }}

                {{ form_errors(form) }}

            </div>

            <div class="mdl-card__actions mdl-card--border">
                <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" id="_submit" name="_submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        </fieldset>
    </form>


</div>

<!-- TODO Complete this page -->

