<div class="mdc-card mdc-elevation--z6 mdc-layout-grid__inner">
    {{ form_start(contactform, {'attr': {'class': 'mdc-layout-grid__cell--span-12'}}) }}

    <fieldset>
        <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__inner" >
            <div class="mdc-layout-grid__cell--span-12" >
                <div class="mdl-card__supporting-text">

                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        {{ form_widget(contactform.name, {'attr': {'class': 'mdc-text-field__input'}}) }}

                        {{ form_label(contactform.name, "",  {'label_attr': {'class': 'mdc-floating-label'}}) }}
                    </div>
                    <div class="form_errors">
                        {{ form_errors(contactform.name, {'attr': {'class': 'menu-dark'}}) }}
                    </div>
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        {{ form_widget(contactform.email, {'attr': {'class': 'mdc-text-field__input'}}) }}

                        {{ form_label(contactform.email, "",  {'label_attr': {'class': 'mdc-floating-label'}}) }}
                    </div>
                    <div class="form_errors">
                        {{ form_errors(contactform.email, {'attr': {'class': 'menu-dark'}}) }}
                    </div>
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        {{ form_widget(contactform.message, {'attr': {'class': 'mdc-text-field__input'}}) }}

                        {{ form_label(contactform.message, "",  {'label_attr': {'class': 'mdc-floating-label'}}) }}
                    </div>
                    <div class="form_errors">
                        {{ form_errors(contactform.message, {'attr': {'class': 'menu-dark'}}) }}
                    </div>


                </div>
            </div>
        </div>

        <hr class="mdc-list-divider">

        <div class="mdc-card__actions mdc-layout-grid__cell--span-12">
            <div class="mdc-card__action-icons">
                {{ form_widget(contactform.FormSubmit, {'attr': {'class': 'mdc-button mdc-card__action mdc-card__action--button mdc-button--raised'}}) }}
            </div>
        </div>

        {{ form_rest(contactform) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(contactform) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(contactform) }}



    </fieldset>
</div>
