<div class="my-card-wide mdl-card mdl-shadow--6dp">
    {{ form_start(dateeventform, {'attr': {'class': 'form-horizontal'}}) }}

    <fieldset>

        <div class="mdl-card__supporting-text">



        </div>


        <div class="mdl-card__actions mdl-card--border">
            {{ form_widget(contactform.FormSubmit, {'attr': {'class': 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect'}}) }}
        </div>

        {{ form_rest(dateeventform) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(dateeventform) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(dateeventform) }}
    </fieldset>
</div>
