{# app/Ressources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <!-- Material + General-->
    <meta charset="{{ _charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-indigo.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- ressource pressonnel -->
    {% stylesheets filter='cssrewrite, scssphp' 'css/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    <style type="text/css">
        @font-face {
            font-family: 'Analecta';
            src:    url({{asset('police/Analecta.eot')}}) format('eot'),
            url({{asset('police/Analecta.woff')}}) format('woff'),
            url({{asset('police/Analecta.ttf')}}) format('truetype'),
            url({{asset('police/Analecta.svg')}}) format('svg');
        }
    </style>
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- franck-cayzac.fr -->
    <meta name="keywords" content="{% block metaKeyword %}calendier, salon, jeux, vidéo, jeux vidéo, dates, convention, geek, otaku, japan, expo, France, free, manga, évenement{% endblock %}" />
    <meta name="description" content="{% block metaDescription %}Ce site web est un site communautaire qui a pour but de rassembler à la manière d'un calendrier tous les évènements Geek est Otaku en France.{% endblock %}" />
    <meta name="author" content="CAYZAC Franck">
    <title>{% block metaTitle %}Convention Geek: Le calendrier des conventions Geek et Otaku{% endblock %}</title>
    {% block metaMore %}{% endblock %}
</head>

<body>


{% block body %}{% endblock %}

{% block javascripts %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8672311963154117",
            enable_page_level_ads: true
        });
    </script>
    <!--Import jQuery before materialize.js-->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}
</body>
</html>
