{# app/Ressources/views/menu.html.twig #}

{% extends '@ConventionGeekMain/Structures/base.html.twig' %}

{% block body %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a href="{{ path('App_home') }}" style="height: 90%">
                <img class="mdl-layout-title" src="{{ asset('images/menu/banniere.svg') }}" alt="Bannière de Convention Geek" height="100%"/>
                </a>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="{{ path('sonata_news_home') }}">News</a>
                    <a class="mdl-navigation__link" href="{{ path('CGEvent_annuaire') }}">Annuaire</a>
                    <a class="mdl-navigation__link" href="">Formulaires</a>
                    <a class="mdl-navigation__link" href="{{ path('App_about') }}">À propos</a>
                </nav>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-navigation mdl-layout--large-screen-only">



                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <span class="menuWelcomeUser">Bienvenue, {{ app.user.username }}</span>
                        <a class="mdl-navigation__link" href="{{ path('fos_user_profile_show') }}">Mon compte</a>
                        <a class="mdl-navigation__link" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>

                    {% else %}
                        <span class="menuWelcomeUser">Bienvenue, Visiteur</span>
                        <a class="mdl-navigation__link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        <a class="mdl-navigation__link" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}



                </div>

        </div>
        </header>
        <div class="mdl-layout__drawer">
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">News</a>
                <a class="mdl-navigation__link" href="">Annuaire</a>
                <a class="mdl-navigation__link" href="">Formulaires</a>
                <a class="mdl-navigation__link" href="{{ path('App_about') }}">À propos</a>
            </nav>
            <div class="mdl-navigation">


                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <span class="menuWelcomeUser">Bienvenue, {{ app.user.username }}</span>
                    <a class="mdl-navigation__link" href="{{ path('fos_user_profile_show') }}">Mon compte</a>
                    <a class="mdl-navigation__link" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                {% else %}
                    <div class="menuWelcomeUser">Bienvenue, Visiteur</div>
                    <a class="mdl-navigation__link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    <a class="mdl-navigation__link" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}





            </div>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        {% block pageContent %}{% endblock %}
                </div>
            </div>
        </main>
    </div>



{% endblock %}
