{% extends '@ConventionGeekMain/Structures/menu.html.twig' %}

{% block metaKeyword %}calendier, salon, jeux, vidéo, jeux vidéo, dates, convention, geek, otaku, japan, expo, France, free, manga, évenement{% endblock %}
{% block metaDescription %}{{ event.eventmeta }}{% endblock %}
{% block metaTitle %}Convention Geek: {{ event.eventname }}{% endblock %}

{% block pageContent %}

    <div class="mdc-layout-grid__inner mdc-elevation--z12">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

            <h1>{{ event.eventname }}</h1>

        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

            <p>L'évènement: {{ event.eventname }} est un évènement qui a lieu à {{ event.eventlieu }} dans le {{ event.eventdepartement }} <br>
                <!-- page des evenemnt-->

                {% if event.eventwebsite is not null %}
                    Site web de l'évènement: <a href="{{ event.eventwebsite }}" target="_blank">{{ event.eventname }}</a><br>
                {% endif %}
                {% if event.eventfacebook is not null %}
                    Page facebook: <a href="https://facebook.com/{{ event.eventfacebook }}" target="_blank">{{ event.eventname }}</a><br>
                {% endif %}
                {% if event.eventtwitter is not null %}
                    Page twitter: <a href="https://twitter.com/{{ event.eventtwitter }}" target="_blank">@{{ event.eventtwitter }}</a>
                {% endif %}

            </p>

            <p>
                {{ event.eventdescription |raw }}
            </p>

            <p>Pour avoir la liste de tous les évènements, il rendez-vous sur <a href="{{ path('CGEvent_annuaire') }}">l'annuaire</a>.<br>
                Si une information n'est pas présente sur le site ou s'il y a une erreur vous pouvez me contacter grâce aux <a href="{{ path('CGEvent_formulaires') }}" style=" color: -webkit-link; text-decoration: underline;">formulaires de contact</a>. </p>

        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-elevation--z12">

            <h2 style="text-align: center;">Les différentes éditions</h2>

            <ul   class="mdc-list mdc-list--two-line" aria-orientation="vertical">

                {% for eventdate in event.eventdatelist %}


                    <li class="mdc-list-item mdc-elevation--z1" >
                        <span class="mdc-list-item__graphic">{{ eventdate.edition }}</span>

                        {{ eventdate.date }}

                        <span class="mdc-list-item__meta" aria-hidden="true">{{ eventdate.visiteurs }}</span>

                    </li>



                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
