{% extends '@ConventionGeekMain/Structures/menu.html.twig' %}

{% block metaKeyword %}calendier, salon, jeux, vidéo, jeux vidéo, dates, convention, geek, otaku, japan, expo, France, free, manga, évenement{% endblock %}
{% block metaDescription %}Ce site web est un site communautaire qui a pour but de rassembler à la manière d'un calendrier tous les évènements Geek est Otaku en France.{% endblock %}
{% block metaTitle %}Convention Geek: Le calendrier des conventions Geek et Otaku{% endblock %}

{% block pageContent %}

        <div class="mdc-layout-grid__inner mdc-elevation--z12">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

                <h2 style="text-align: center;">Prochainement</h2>

                <ul class="mdc-list mdc-list--two-line" aria-orientation="vertical">

                    {% for event in listEvenement %}


                    <li class="mdc-list-item" >
                        <a class="a-list-item" href="{{ path('CGEvent_event', {'eventid': event.eventid}) }}">
                    <span class="mdc-list-item__text">
                        <span class="mdc-list-item__primary-text">{{ event.name }} - {{ event.place }}</span>
                        <span class="mdc-list-item__secondary-text">{{ event.date }}</span>

                    </span>
                            <span class="mdc-list-item__meta" aria-hidden="true">{{ event.informateur }}</span>
                        </a>
                    </li>



                    {% endfor %}
                </ul>



            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="display: flex;">
                <div class="section-spacer" style="flex-grow: 1;"></div>

                    <button class="mdc-button mdc-button--raised">
                        <a href="{{ path('CGEvent_conventions') }}">
                        Afficher toutes les dates
                        </a>
                    </button>
                </a>
            </div>
        </div>
        <div class="mdc-layout-grid__inner mdc-elevation--z12">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <h2 style="text-align: center;">Formulaires</h2>
            </div>
            <div class="mdc-layout-grid__cell--span-12 ">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
                        {{ include('@ConventionGeekContact/formulaires/formcontent/conventionform.twig') }}

                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">

                        {{ include('@ConventionGeekContact/formulaires/formcontent/dateeventform.twig') }}

                    </div>
                </div>
            </div>
        </div>

    {% if snackbarMessage is not null %}
    <div class="mdc-snackbar"
         aria-live="assertive"
         aria-atomic="true"
         aria-hidden="true">
        <div class="mdc-snackbar__message" hidden>{{ snackbarMessage }}</div>
        <div class="mdc-snackbar__text"></div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-snackbar__action-button"></button>
        </div>
    </div>
    {% endif %}

{% endblock %}
