{% trans_default_domain 'FOSUserBundle' %}

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h2>Changer de Mot de passe</h2>
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

    <div class="mdc-card mdc-elevation--z6 mdc-layout-grid__inner">

    <form class="mdc-layout-grid__cell--span-12 fos_user_change_password" action="{{ path('fos_user_change_password') }}" method="POST" >
        <fieldset>

            <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__inner" >
                <div class="mdc-layout-grid__cell--span-12" >
                    <div class="mdl-card__supporting-text">

                        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                            {{ form_widget(form.current_password, {'attr': {'class': 'mdc-text-field__input'}}) }}

                            {{ form_label(form.current_password, "",  {'label_attr': {'class': 'mdc-floating-label'}}) }}
                        </div>
                        <div class="form_errors">
                            {{ form_errors(form.current_password, {'attr': {'class': 'menu-dark'}}) }}
                        </div>

                        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'mdc-text-field__input'}}) }}

                            {{ form_label(form.plainPassword.first, "",  {'label_attr': {'class': 'mdc-floating-label'}}) }}
                        </div>
                        <div class="form_errors">
                            {{ form_errors(form.plainPassword.first, {'attr': {'class': 'menu-dark'}}) }}
                        </div>
                        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'mdc-text-field__input'}}) }}

                            {{ form_label(form.plainPassword.second, "",  {'label_attr': {'class': 'mdc-floating-label'}}) }}
                        </div>
                        <div class="form_errors">
                            {{ form_errors(form.plainPassword.second, {'attr': {'class': 'menu-dark'}}) }}
                        </div>

                        {{ form_rest(form) }}

                        {{ form_errors(form) }}

                    </div>
                </div>
            </div>
            <hr class="mdc-list-divider">
            <div class="mdc-card__actions mdc-layout-grid__cell--span-12">
                <div class="mdc-card__action-icons">
                    <input class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
            </div>
        </fieldset>
    </form>

    </div>

</div>
