{% extends '@ConventionGeekMain/Structures/menu.html.twig' %}

{% block metaKeyword %}calendier, salon, jeux, vidéo, jeux vidéo, dates, convention, geek, otaku, japan, expo, France, free, manga, évenement, nouveaux, futur, soumettre, contact{% endblock %}
{% block metaDescription %}Ceci est la page de contact, elle vous permez de nous signaler un évènement qui n'est pas sur le site{% endblock %}
{% block metaTitle %}Convention Geek: Formulaires{% endblock %}

{% block pageContent %}

    <div class="mdc-layout-grid__inner mdc-elevation--z12 ">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
            {{ include('@ConventionGeekContact/formulaires/formcontent/conventionform.twig') }}

        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">

            {{ include('@ConventionGeekContact/formulaires/formcontent/dateeventform.twig') }}

        </div>

    </div>

    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Convention Geek V2 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="{{ google_ad_client }}"
                 data-ad-slot="6283698096"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

    <div class="mdc-layout-grid__inner mdc-elevation--z12 ">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

            {{ include('@ConventionGeekContact/formulaires/formcontent/contactform.twig') }}

        </div>

    </div>

    {% if snackbarMessage is not null %}
        <div class="mdc-snackbar"
             aria-live="assertive"
             aria-atomic="true"
             aria-hidden="true">
            <div class="mdc-snackbar__message" hidden>{{ snackbarMessage }}</div>
            <div class="mdc-snackbar__text"></div>
            <div class="mdc-snackbar__action-wrapper">
                <button type="button" class="mdc-snackbar__action-button"></button>
            </div>
        </div>
    {% endif %}



{% endblock %}
