{% extends '@ConventionGeekMain/Structures/menu.html.twig' %}

{% block metaKeyword %}calendier, salon, jeux, vidéo, jeux vidéo, dates, convention, geek, otaku, japan, expo, France, free, manga, news, article{% endblock %}
{% block metaDescription %}{{ post.abstract }}{% endblock %}
{% block metaTitle %}Convention Geek: {{ post.title }}{% endblock %}

{% block pageContent %}


    <article class="mdc-layout-grid__inner mdc-elevation--z12">

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h1>{{ post.title }}</h1>
        </div>

        {{ post.content|raw }}

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p class="margin-right-flex">Ecrit par {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} le  {{ post.publicationDateStart | format_date }}</p>
        </div>

    </article>


{% endblock %}
